body{
  background-color: pink ;
}

li:hover > * {
  visibility: visible;
}

.icono-oculto{
visibility: hidden;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.title{
  font-size: 60px;
  color: white;
  font-family:fantasy;
  margin-top: 20px ;

}

